[submodule "emacs.d/packages/haskell-mode"]
	path = emacs.d/packages/haskell-mode
	url = git@github.com:haskell/haskell-mode.git
[submodule "emacs.d/use-package"]
	path = emacs.d/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "vim/autoload/vim-plug"]
	path = vim/autoload/vim-plug
	url = git@github.com:junegunn/vim-plug.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
