ac-comphist.dat
el-get/
elpa/
eshell/
hoogle.el
projectile-bookmarks.eld
projectile.cache
rcodetools.el
tutorial/
var/
emacs-backup/
auto-save-list/
menu_log.notes
request/

config.el

smex-items
ido.last*
tramp
